@media screen and (min-width: 481px) and (max-width: 791px){
    .title-player{
        font-size: 13px;
    }

    .author-player{
        font-size: 11px;
    }

}

@media screen and (min-width: 601px) and (max-width: 679px){
    .title-player{
        width: 65px;
    }
}
 
@media screen and (max-width: 600px){
    .dropdown{
        /* opacity: 1; */
        display: inline-block;
    }

    aside{
        width: 70px;
    }

    main,header{
        width: calc(100% - 70px);
        left: 70px;
    }

    .contain-header-flex{
        justify-content: center;
    }
    /* .contain-header-flex div:first-child, .contain-header-flex div:nth-child(2){
        opacity: 0;
    } */

    .info{
        padding-top: 20px;
    }
    .info-home div:last-child, .info-search div:last-child, .info-library div:last-child{
        display: none;
    }

    .info-home, .info-search, .info-library, .icon-infoSecond {
        justify-content: center;
        font-size: 25px;
        align-items: center;
    }





    .icon-infoSecond div:last-child{
        display: none;
    }

    .icon-infoSecond>  .contain{
        width: 40px;
    }

    #radio{
        opacity: 0;
    }

    .aside > .logo > #img-first{
        display: none;
    }

    .aside > .logo #img-second{
        display: inline-block !important; 
    }

    .aside > .logo > img{
        width: 100%;
    }


    .hidden{
        display: none;
    }



    .title-player{
        display: none;
    }

    .info-policy{
        padding-top: 0;
    }

    .icon-player{
        flex-direction: column;
    }

    .name_info_main{
        display: none;
    }

    .card{
        width: 100%;
        height: 100%;
        margin: 30px 0;
    }

    .playlist{
        display: flex;
        justify-content: center;
    }

    .aside>.logo>img{
        width: 90px;
    }
}


@media screen and (max-width: 900px){
    .name_info_main > ul{
        flex-direction: column;
    }

    .card{
        margin: 30px 13px;
    }

    .info-policy{
        padding-top: 0;
    }

    .icon-player{
        flex-direction: column;
    }

    .last-child{
        justify-content: center;
    }

}


@media screen and (max-width: 1015px){

    
    .name_info_main > ul li{
        font-size: 13px;
    }

    .last-child{
        justify-content: center;
    }

    .info-policy{
        padding-top: 0;
    }
}






/* Colori */
@media screen and (min-width: 768px){
    header, .player{
        background-color: #5839b5; /* #5e3a29 */
    }

    aside{
        background-color: #3e069f; /* #404027 */
    }
}


@media screen and (min-width: 992px){
    header, .player{
        background-color: #2abd9e; /* #5e3a29 */
    }

    aside{
        background-color: #057770; /* #404027 */
    }
}






