/* tasti color-> #222020
   verdi color-> #7fdb7f
   background-> #f4f4f4

*/



* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    /* height: 100vh; */
    font-family: 'Noto Sans JP', sans-serif;
}

/* aside, header, main{
    opacity:0.5;
} */



/* main {
    background-color: rgb(128, 61, 61);
} */

.player {
    background-color: #150625;;
    /* background-color: #272a2a;  #ab235f*/
    
}

aside {
    height:calc(100vh - 100px);
    width: 180px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: rgb(78,13,147);
}

header {
    width: calc(100% - 180px);
    height:70px;
    position:fixed;
    top:0;
    left: 180px;
    background-color: #150625;  /*  #d17866; #ab235f */
}

main {
    width: calc(100% - 180px);
    height:calc(100vh - 170px);
    color:#fff;
    padding:50px;   /* Musica vettore creata da pch.vector - it.freepik.com */
    overflow-y: auto;
    /* margin: 100px 0 0 50px; */
    position:fixed;
    top:70px;
    left:180px;
    color: rgb(231, 231, 231);
    background-image: url('https://cdn.dribbble.com/users/3281732/screenshots/6747768/samji_illustrator_2x.jpeg');
    background-color: #30045d;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.player {
    height:100px;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;
}


.container{
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
}

.name_info_main{
    width: 100%;
}

.name_info_main>ul{
    display: flex;
    justify-content: center;
}

.name_info_main>ul li{
    list-style-type: none;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 501;
    transition: 0.5s;
}



.name-album{
    display: flex;
    color: white;
    width: 100%;
    justify-content: flex-start;
    margin-left: 30px;
    font-size: 40px;
}

.card{
    width: 200px;
    height: 200px;
    background-color: transparent;
    display: flex;
    margin: 30px 25px;
    /* flex-grow: 2; */
    flex-shrink: 2;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    align-items: center;
    /*float: left;
    margin: 30px;
    border-radius: 10px; 
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 380px; 
    width: 200px; 
     flex-basis: 200px;
    border-radius: 8px;
    background: #282828; */
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    transition: 0.2s;
}

.overlay:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.play_overlay{
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 40px;
}

.container .play_overlay:hover{
    opacity: 1;
    color: #8a5bbb;
    cursor: pointer;
}

.contain_img>img{
    width: 100%;
    height: 100%;
}



.aside{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
}

.aside>.logo>img{
    width: 100%;
    height: 100%;
}

.aside>.logo{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.info-home, .info-search, .info-library, .icon-infoSecond{
    display: flex;
}

.info-home div:last-child{
    color: rgb(208, 208, 208);
}

.icon{
    width: 30px;
    padding-bottom: 10px;
    color: white;/*  #7fdb7f; */
}

.icon-infoSecond{
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-infoSecond div:last-child{
    padding-left: 10px;
}

.infoSecond #radio{
    padding-top: 20px;
}

.playlist{
    padding-top: 30px;
    padding-bottom: 10px;
}

.contain{
    width: 30px;
    background: #6b287e;
    text-align: center;
    padding: 4px;
}

.info-policy{
    font-size: 10px;
    padding-top: 150px;
    color: gainsboro;
} /* Fine aside */

/* Header */

.contain-header-flex{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contain-header-flex div{
    padding-right: 30px;
    color: white;
    transition: 1;
    cursor: pointer;
}

.contain-header-flex div>button{
    padding: 12px 40px;
    border-radius: 21px;
    border: 1px solid #7fdb7f;
    background: transparent;
    font-size: 17px;
    color: #7fdb7f;
    transition: 0.1s;
    cursor: pointer;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle{
    border-color: transparent;
    background-color: #6b287e;
}

.btn-secondary.focus, .btn-secondary:focus{
    box-shadow: transparent !important;
}

.dropdown-menu.show{
    background-color: rgb(107, 40, 126) !important;
}

.dropdown-item{
    color: white;
}

.dropdown{
    /* opacity: 0; */
    display: none;
}





.player-flex{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.player-flex .player-item{
    width: 300px;
    height: 100px;
    /* background-color: goldenrod; */
}

.player-flex .player-item:nth-child(2){
    /* background-color: green; */
    flex: 1 1;
}

.player-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.player-img>img{
    width: 100px;
    padding: 10px;
}

.icon-player{
    display: flex;
    padding: 10px;
}

.icon-player div{
    padding: 8px;
    color: white;
}

.title-player{
    font-size: 16px;
    padding-bottom: 2px;
    color: white;
}

.author-player{
    font-size: 12px;
    color: lightgray;
}

.last-child{
    justify-content: flex-start;
}

.last-child div{
    padding-left: 30px;
}














/* Evento */

#schermata_caricamento {
 
    width: 100%;
   
    height:100%;
   
    position:fixed;
   
    top:0;
   
    left:0;
   
    background-color:#000;
   
    background-image:url('https://i.pinimg.com/originals/a1/8d/a0/a18da08ae2124c2d8b1a368943f5328f.gif');
   
    background-repeat:no-repeat;
     
    background-position:center;

    z-index: 2;
  }






  /* Eventi */

  .contain-header-flex div>button:hover{
      background-color: lightgreen;
      padding: 15px 40px;
      color: white;
  }

  .contain-header-flex div:hover{
      color: #7fdb7f;
  }

  [class^="info-"] div:last-child:hover{
      color: lightgreen;
      cursor: pointer;
  }

  .icon-infoSecond div:last-child:hover{
      cursor: pointer;
      color: lightgreen;
  }

/*   .infoSecond .playlist:hover{
      cursor: pointer;
      color: lightgreen;
  } */

  #radio:hover{
    cursor: pointer;
    color: lightgreen;
  }


  .info-policy *:hover{
    color: #8a5bbb !important;
    cursor: pointer;
  }

  .icon-player div:hover, .icon:hover, .infoSecond .playlist:hover{
      color: #8a5bbb;
      cursor: pointer;
  }

  .name_info_main > ul li:active{
    background-color: thistle;
    border-bottom: 1px solid yellow !important;
    color: tomato;
    cursor: pointer;
}














/* play*/
.controlBar{
    background-color: transparent !important;
    width: 800px !important;
} 